*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*HSL= Hue, Saturation , Lightness */
    /* --primary-color: hsl(var(--hue),100%,26%); */
    /* --brand-light: hsl(148, 23%, 89%); */
   font-size: 62.5%; /*here 1rem = 10px  Original value 1rem = 16px = 100%*/ 
   --hue: 207;  
   --primary-color: hsl(var(--hue), 73%, 57%);
   --headline: hsl(210,11%,15%);
   --paragraph: hsl(210,9%,31%);
   --brand-beige: hsl(39, 100%, 97%);
   --brand-light: hsl(calc(var(--hue) - 7), 90%, 85%);
   --brand-light2: hsl(calc(var(--hue) + 10), 14%, 97%);
   --background-light: hsl(180, 14%, 97%);
   --brand-dark: hsl(var(--hue), 100%, 44%);

   --nav-height: 7.2rem;
}

html{
    scroll-behavior: smooth;
}

body,
html {
    width: 100%;
    height: 100%;
    
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    background-color: var( --background-light);
    overflow: overlay;
}

.wrapper{
    width: min(50rem, 100%);   
    margin-inline: auto;
    padding-inline: 2.4rem;
  
}
ul {
    list-style: none;
}

section{
    padding-block: 10rem;
   
}

section header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;

}

section header h4{
    color: var(--primary-color);
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;
}

section header h2{
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);
   
}
section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--paragraph);

}

section img {
    max-width: 100%; 
    border-radius: 0.6rem;
}

.button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4rem;
    padding: 1.6rem 3.2rem;
    width: fit-content;
   
    color: #ffffff; 
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.button:hover{
    background: var(--brand-dark);
    transition: 200ms;
}

.logo{
    text-decoration: none;
}

#vet,#lar{

    text-transform: uppercase;  
    text-decoration: none;   
    font-size: 1.8rem;
  
    
}


.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}


/*==================NAVIGATION =====================*/
nav {
    display: flex;
    /* padding: 1.6rem 2.4rem; */
    height: var(--nav-height);
    position: fixed;  
    top:0;
    /* left: 50%;
    transform: translateX(-50%);  */
    width: 100vw;
    z-index: 100; 
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

nav.scroll{
    background-color: var(--primary-color);
    
}
nav.scroll #vet,
nav.scroll #lar {
    color: #FFFFFF;
}
nav.scroll #lar {
    font-weight:  700;
}
/*==================NAVIGATION MENU-COLLAPSED =====================*/
nav .menu,
nav .close-menu
 {
    /* opacity: 0;
    visibility: hidden; */
    display: none;
    position: fixed;
}

nav .open-menu svg path{
    stroke: var(--primary-color);
}

nav .open-menu{
    cursor: pointer;
}

/*==================NAVIGATION MENU-EXPANDED =====================*/
body.menu-expanded {
    overflow: hidden;
}

.menu{
    transform: translateY(100%);/* Initially hidden */
}

body.menu-expanded > :not(nav) {
        
    visibility: hidden;
}
body.menu-expanded .menu {
    background-color: var(--primary-color);
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);

    transition: transform 300ms; 
    transform: translateY(0);
    
}

body.menu-expanded .logo #vet,
body.menu-expanded .logo #lar,
body.menu-expanded nav button.close-menu{
    position: relative;
    z-index: 100;
    color: #FFFFFF;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu
 {
      /* opacity: 1;
    visibility: visible; */
    display: block;
 
}
body.menu-expanded nav .close-menu {
    background: none;
    cursor: pointer;
    border: none;
}

body.menu-expanded button.open-menu{
    opacity: 0;
    visibility: hidden;
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    
}

.menu ul a {
    text-decoration: none;
    color: #FFFFFF;
}
.menu .button{
    text-decoration: none;
    color: var(--primary-color);
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;

    border-radius: 4rem;
    padding: 1.6rem 3.2rem;
    display: inline-block;
    margin: 4.8rem 8rem;
    transition: 200ms;
   
}
.menu .button:hover{
    background: var(--primary-color);
    color: #FFFFFF;
    filter: brightness(1.3);
}


/*==================VETLAR Logo=====================*/
nav .logo div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav #vet {
    color: #000000;
    font-weight:  700;
}
nav #lar {
    color: var(--primary-color);
    font-weight:  700;
}

nav.scroll button.open-menu path{
    stroke: #FFFFFF;
  
  
}

nav button {
    border: none;
    background: none;
}
/*==================SECTION #HOME=====================*/

#home::before{
    content: "";
    width: 100%;
    height: calc(75% + var(--nav-height));
    background-color: var(--brand-light);
    display: block;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
 
   
}

#home {
    padding-block: 0;
    padding-top: calc(4.1rem + var(--nav-height));
}

#home h1{
    margin-bottom: 2.4rem;
}

#home p {
    color: var(--paragraph-primary);
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 3.2rem;

}


#home a.button {
    
    margin-inline: auto;
 
}

#home img { 
    width: 26.3rem;
    height: 24.3rem;
    display: block;
    margin-inline: auto; 
    /* object-position: 0 2rem; */ 
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}


#home .stats {
    width: 100%; /*100% of its box width -wrapper*/
    padding-block: 4rem;
    margin-inline:auto;
    background-color: var(--brand-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem; 
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
    transform: translateY(-3rem); /*making the stats go up to cover the image a little*/
}

#home .stat h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

#home .stats p {
    margin: 0;
    color: var(--primary-color);
    line-height: 150%;
    font-size: 1.6rem;
    
}
/*==================SECTION SERVICES =====================*/

#services h2 {
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;  
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;

}

#services .card h3{
    margin-block: 1.6rem;
}

#services .card svg path[stroke*="#00856F"] {
    stroke: #FFFFFF;
}
#services .card svg circle[fill*="#DCE9E2"]{
    fill: var(--brand-light);
}
/*==================SECTION ABOUT =====================*/

#about {
    text-align: left;
    background: var(--brand-beige)
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-bottom:6rem;
    margin-top: 2.4rem;
}


/*==================SECTION CONTACT =====================*/
#contact {
    text-align: left;
}

#contact header {
    margin-bottom: 3.2rem;
}

#contact ul {
    display:flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
#contact .content li  path{
    stroke: var(--primary-color);
}

/*==================FOOTER  =====================*/

footer {
    padding-block: 6rem;
    background: var(--primary-color);
    text-align: left;
    color: #FFFFFF;
}

footer a.logo{ 
    display: inline-block;
    margin-bottom: 0.5rem;
}
footer .logo #vet,
footer .logo #lar  {
    font-size: 2.8rem;
    color: #FFFFFF;

}
footer .logo #lar {
    font-weight:  700;
}
footer p {
    color: var(--brand-beige);
    line-height:  2; 
    margin-bottom: 3.2rem;  
}
footer ul.social-links {
        justify-content: flex-start;
}

/*==================LINK BACK TO TOP  =====================*/
#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%); /* make it disappear*/
    transition: transform 200ms;
}

#backToTopButton.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

}

#backToTopButton svg circle{
    fill: var(--primary-color);

}