*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

   font-size: 62.5%; /*here 1rem = 10px  Original value 1rem = 16px = 100%*/ 
   --primary-color: hsl(170,100%,26%);
   --headline: hsl(210,11%,15%);
   --paragraph: hsl(210,9%,31%);
   --brand-beige: hsl(39, 100%, 97%);
   --brand-light: hsl(148, 23%, 89%);

   --nav-height: 7.2rem;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: overlay;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.wrapper{
    width: 37.5rem;   
    margin-inline: auto;
    padding-inline: 2.4rem;
  
}
li {
    list-style: none;
}

/*==================NAVIGATION =====================*/
nav {
    display: flex;
    /* padding: 1.6rem 2.4rem; */
    height: var(--nav-height);
    position: fixed;  
    top:0;
    left: 50%;
    transform: translateX(-50%);  
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

nav.scroll{
    background-color: var(--primary-color);
    width: 100vw;
}
nav.scroll #vet,
nav.scroll #lar {
    color: #FFFFFF;
}

/*==================NAVIGATION MENU-COLLAPSED =====================*/
nav .menu,
nav .close-menu
 {
    /* opacity: 0;
    visibility: hidden; */
    display: none;
}


/*==================NAVIGATION MENU-EXPANDED =====================*/
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    display: none;
}
body.menu-expanded .menu {
    background-color: var(--primary-color);
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    
}

body.menu-expanded nav {
    position: relative;  
}

body.menu-expanded .logo #vet,
body.menu-expanded .logo #lar,
body.menu-expanded nav button.close-menu{
    position: relative;
    z-index: 100;
    color: #FFFFFF;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu
 {
      /* opacity: 1;
    visibility: visible; */
    display: block;
 
}
body.menu-expanded nav .close-menu {
    background: none;
    cursor: pointer;
    border: none;
}

body.menu-expanded button.open-menu{
    opacity: 0;
    visibility: hidden;
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    
}

.menu ul a {
    text-decoration: none;
    color: #FFFFFF;
}
.menu .button{
    text-decoration: none;
    color: var(--primary-color);
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;

    border-radius: 4rem;
    padding: 1.6rem 3.2rem;
    display: inline-block;
    margin: 4.8rem 8rem;
   
}
.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}



/*==================VETLAR Logo=====================*/
nav .logo {
    text-decoration: none;
}

nav .logo div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav #vet,nav #lar{
    text-transform: uppercase;  
    text-decoration: none; 
    font-weight:  700;
    font-size: 1.8rem;
    
}

nav #vet {
    color: #000000;
}
nav #lar {
    color: var(--primary-color)
}

nav.scroll button.open-menu path{
    stroke: #FFFFFF;
  
  
}

nav button {
    border: none;
    background: none;
}
/*==================HEADER=====================*/

header::before{
    content: "";
    width: 100%;
    background-color: var(--brand-light);
    height: calc(96rem + var(--nav-height));
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
 
   
}

header {
    
    margin-top: calc(4.1rem + var(--nav-height));
}

header h4 {
    color: var(--primary-color);
    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }

header h1{
    margin-bottom: 2.4rem;
}
header p {
    color: var(--paragraph-primary);
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 3.2rem;

}


header button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4rem;
    height: 6.2rem;
    width:26.3rem;
    color: #ffffff; 
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin: 0 auto 6rem auto;
 
}

header img { 
    width: 26.3rem;
    height: 24.3rem;
    display: block;
    margin-inline: auto; 
    /* object-position: 0 2rem; */ 
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}


header .stats {
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline:auto;
    background-color: var(--brand-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem; 
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
    transform: translateY(-3rem); /*making the stats go up to cover the image a little*/
}

.stat h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.stats p {
    margin: 0;
    color: var(--primary-color);
    line-height: 150%;
    font-size: 1.6rem;
    
}
